body{
	font-family: arial;
	font-size: 11pt;
}

div.main{
	width: 800px;
	margin: 1% auto;
	border: 2px solid #D0D0D0;
	padding: 1%;
}

h1{
	text-transform: uppercase;
}

h1,h2{
	font-weight: normal;
}

h2{
	padding-top: 20px;
}

img{
	width: 150px;
	float: right;
}

hr{
	height: 3px;
	border: none;
	background-color: black;
}

span.date{
	float: right;
	font-style: italic;
}

span.institution{
	font-weight: bold;
}

a{
	text-decoration: none;
}

p,li{
	color: #808080;
	line-height: 1.5;
}