*{
	text-align: center;
	margin: 0 auto;
}

div.header{
	font-size: 2em;
	height: 200px;
	background: url("images/caramoan.png") 30%;
}

p.intro{
	font-family: arial;
	font-size: 18pt;
	margin-top: 8%;
	color: grey;
}

div.content{
	display: flex;
}

div.box{
	border: 3px dotted black;
	margin: 3% 4%;
	padding: 3% 5%;
}

div.box img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

div.box p{
	font-size: 10pt;
	line-height: 2;
}